# Introduction to Scikit-Learn

Going to cover:

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for the problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it together

## An end-to-end Scikit-Learn workflow

In [15]:
# 1. Get the data
import pandas as pd
import numpy as np

hd = pd.read_csv('heart_disease.csv')
hd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# create X (features matrix)
x = hd.drop('target', axis=1)

# Create Y (labels)
y = hd['target']

In [40]:
# 2. Choose the right model and hyperparameters

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
#clf.get_params()

In [53]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [42]:
clf.fit(x_train, y_train)

RandomForestClassifier()

In [43]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
70,54,1,2,120,258,0,0,147,0,0.4,1,0,3
177,64,1,2,140,335,0,1,158,0,0.0,2,0,2
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3
29,53,1,2,130,197,1,0,152,0,1.2,0,0,2
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2
229,64,1,2,125,309,0,1,131,1,1.8,1,0,3
37,54,1,2,150,232,0,0,165,0,1.6,2,0,3
157,35,1,1,122,192,0,1,174,0,0.0,2,0,2
237,60,1,0,140,293,0,0,170,0,1.2,1,2,3

In [44]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3
101,59,1,3,178,270,0,0,145,0,4.2,0,0,3
131,49,0,1,134,271,0,1,162,0,0.0,1,0,2
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3
242,64,1,0,145,212,0,0,132,0,2.0,1,2,1
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3
275,52,1,0,125,212,0,1,168,0,1.0,2,2,3
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3

In [45]:
# Make a prediction
y_pred = clf.predict(x_test)
y_pred

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [25]:
y_test

93     1
199    0
165    0
299    0
176    0
      ..
233    0
76     1
38     1
219    0
296    0
Name: target, Length: 61, dtype: int64

In [46]:
# 4. Evaluate the model on the training and test data
clf.score(x_train, y_train)

1.0

In [47]:
clf.score(x_test, y_test)

0.8852459016393442

In [48]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.87      0.88        30
           1       0.88      0.90      0.89        31

    accuracy                           0.89        61
   macro avg       0.89      0.88      0.89        61
weighted avg       0.89      0.89      0.89        61

In [49]:
confusion_matrix(y_test, y_pred)

array([[26,  4],
       [ 3, 28]], dtype=int64)

In [50]:
accuracy_score(y_test, y_pred)

0.8852459016393442

In [51]:
# 5. Improve a model
# Try different amount of n_estimators

np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model Accuracy on test set: {clf.score(x_test, y_test)*100:2f}%")
    print(" ")

Trying model with 10 estimators...
Model Accuracy on test set: 78.688525%

Trying model with 20 estimators...
Model Accuracy on test set: 85.245902%

Trying model with 30 estimators...
Model Accuracy on test set: 81.967213%

Trying model with 40 estimators...
Model Accuracy on test set: 86.885246%

Trying model with 50 estimators...
Model Accuracy on test set: 83.606557%

Trying model with 60 estimators...
Model Accuracy on test set: 83.606557%

Trying model with 70 estimators...
Model Accuracy on test set: 81.967213%

Trying model with 80 estimators...
Model Accuracy on test set: 86.885246%

Trying model with 90 estimators...
Model Accuracy on test set: 80.327869%

In [52]:
# 6. Save a model and load it
import pickle
pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [39]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.8524590163934426

In [62]:
import warnings
warnings.filterwarnings('default')